body{
    width: 460px;
    height: 740px ;
}
.box{
    margin: 30px;
    color: white;
    width: 300px;
    height: 450px;
    border-radius: 15px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(40,94,225,1) 66%, rgba(45,74,253,1) 100%);
}
.weather-element{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
}
#city{
    font-size: 55px;
    font-weight: 900;
}
#temperature{
    font-size: 35px;
    font-weight: 700;
}
#wind{
    font-size: 25px;
    font-weight: 300;
    padding: 25px;
}
#weathercode{
    font-size: 15px;
    padding: 10px;
}
img{
    width: 100px;
    height: 100px;
    padding: 5px;
    text-align: center;
    margin: 0 0 0 100px;
}